.searchbar {
  background: var(--gray-gray-5, #37383e);
  border-radius: 5px;
  padding: 16px 18px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin-left: 40px;
  max-width: 100%;
  height: max-content;
}
.searchbar input {
  background: none;
  border: none;
  outline: none;
  margin-right: 16px;
  color: #fff;
  width: 100%;
}
.serachbar input::placeholder {
  color: var(--gray-gray-3, #aaa);
  text-align: right;
  font-family: IRANYekan;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.searchIcon {
  width: 19px;
  height: 19px;
}
.deleteIcon {
  width: 25px;
  height: 25px;
  float: left;
  cursor: pointer;
  left: 0;
}
