.header {
  background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0) 99.86%);
  padding: 30px 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header div {
  display: flex;
  align-items: center;
  gap: 0.5px;
}
.header span img {
  width: 65px;
  height: 55px;
}
.header div a img {
  padding-left: 10px;
}
.nav {
  margin-right: 10px;
}
.nav span a {
  color: #fff;
  text-align: right;
  font-family: IRANYekan;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-right: 18px;
}

@media screen and (min-width: 1280px) {
  .header span img {
    width: auto;
    height: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header div a img {
    height: 40px;
    min-width: 40px;
  }
}
@media screen and (max-width: 1279px) {
  .header div a img {
    height: 30px;
    min-width: 30px;
  }
}
